@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@100&family=Roboto:wght@400;500&display=swap');
 // font-family: 'Roboto', sans-serif;
@import "./utils/mixins";
@import "./utils/variables";
 * {
    margin: 0px;
 }
body {
    @include font_roboto();
}
    .header__global {
    display: flex;
    justify-content: center;
    padding: 14px 0px 7px 0px;
            .header__img img {
                width: 162px;
                height: 44px;
            }
        }