
.section__explore {
    background-color: $background-main;

h1 {
    text-align: center;
    padding: 49px 52px 0px 42px;
}
 p {
    @include paragraph(18px);
    text-align: center;
}
&--button {
    padding: 27px 0px 65px 0px;
    display: flex;
    justify-content: center;
}
&--button button {
   @include button;
   @include box-shadow;
   padding: 13px 18.75px 13px 18.75px;

}
}


    .functioning {
            display: flex;
            flex-direction: column;
            gap:25px;   
            margin:20px;     
    
    &.functioning h1 {
        padding-top: 28px;
    }
    &__button {
            @include flex_center (row);
            align-self: flex-end;
    }
    &__button button {
            @include box-shadow;
            @include button_functioning;
            border:none;
            position: relative;
            display:flex;
            align-items: center;
            gap:27px;
            font-size: 16px;
    }
    &__button p{
        position: relative;
        z-index: 1;
        left: 13px;
        border: 1px solid $background-button;
        border-radius: 25px;
        width: 24px;
        height: 24px;
        background-color: $background-button;
        color:white ; 
        @include flex_center (row);

    }
}
    .fa-solid{
            padding: 0px 0px 0px 33px;
            color: $color-icone;
    }
    
  
    .restaurant {
        background-color: $background-main;
        padding: 54px 0px 66px 0px;
        & h1 {
            padding: 0px 0px 25px 20px;
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        gap: 15px;
         &__menu {
        display: flex;
        justify-content: center;
         }
    }
        .card__menu--article {
        position:relative;
        width: 350px;
        height: 251px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);  
        }  
    
       .card__menu--article img {
        width: 100%;
        height: 174px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }


     .card__menu--text {
        padding:16px 0px 12px 13px;
        position:relative;
     }
     .card__menu--text h2 {
        font-size: 18px;
      }

    .card__menu--text p {
        font-size: 17px;
        font-weight: 300;
        padding-bottom: 5px;
        padding-top:5px;
    }
    .card__menu--news {
        position:absolute;
        left: 255px;
        top: 13px;
        color:#008766;
        background-color: #99E2D0;
        padding: 7px 9px 6px 9px;
    }
    .fa-heart {
        position: absolute;
        left: 305px;
        top: 15px;
        font-size: 21px;
    }
